@using System.Web.Helpers

@if (Request.Cookies["app_theme"] == null)
{
    Themes.Initialize("~/Content/themes/", BgEngine.Application.ResourceConfiguration.BgResources.Themes_Default);
}
else
{
    try
    {
        Themes.Initialize("~/Content/themes/", Request.Cookies["app_theme"].Value);
    }
    catch (ArgumentException)
    {
        Themes.Initialize("~/Content/themes/", BgEngine.Application.ResourceConfiguration.BgResources.Themes_Default);
    }
}   

<ul>
    @foreach (var Theme in Themes.AvailableThemes)
    {
        <li>@Html.RouteLink(Theme, "Default", new { controller="Theme", action="SetThemeCookie", theme=Theme, returnurl=ViewBag.Url })</li> 
    }
</ul>
